


<div class="row" >
  <div class="col-md-6" >
    <div class="job-card">

      <div class="account"  >
        <p>Account</p>
      </div>
      <h2><a class="btn-link" >{{'Account'}}</a></h2>
      <h3></h3>
      <p>{{'Smart Aid'}}, {{'Chakwal'}}</p>
      <ul>
        <li><i class="material-icons">event</i> {{'23/12/2012'}}</li>
        <li ><i class="material-icons">credit_card</i> {{'Suppliers'}}</li>
        <li><i class="material-icons">work</i> {{'Area'}}</li>
      </ul>
      <div >
        {{'Company'}}
      </div>

    </div>
  </div>
  <div class="col-md-6" >
    <div class="job-card">

      <div class="customer">
        <p>Customer</p>
      </div>
      <h2><a class="btn-link" >{{'Customer'}}</a></h2>
      <h3></h3>
      <p>{{'Smart Aid'}}, {{'Chakwal'}}</p>
      <ul>
        <li><i class="material-icons">event</i> {{'23/12/2012'}}</li>
        <li ><i class="material-icons">credit_card</i> {{'Suppliers'}}</li>
        <li><i class="material-icons">work</i> {{'Area'}}</li>
      </ul>
      <div >
        {{'Company'}}
      </div>

    </div>
  </div>
  <div class="col-md-6" >
    <div class="job-card">

      <div class="supplier">
        <p>SUPPLIER</p>
      </div>
      <h2><a class="btn-link" (click)="suplier()">{{'Supplier'}}</a></h2>
      <h2> <a class="btn-link" >{{'Supplier Category'}}</a></h2>

      <ul>
        <li><i class="material-icons">event</i> {{'23/12/2012'}}</li>
        <li ><i class="material-icons">credit_card</i> {{'Suppliers'}}</li>
        <li><i class="material-icons">work</i> {{'Area'}}</li>
      </ul>
      <div >
        {{'Smart Aid'}}, {{'Chakwal'}}
      </div>

    </div>
  </div>
  <div class="col-md-6" >
    <div class="job-card">

      <div class="items">
        <p>Items</p>
      </div>
      <h2><a class="btn-link"  (click)="addItme()">{{'Item'}}</a></h2>
      <h2><a class="btn-link"  (click)="addItmeCategory()">{{'Item Category'}}</a></h2>
      <h3></h3>
      <p>{{'Smart Aid'}}, {{'Chakwal'}}</p>
      <ul>
        <li><i class="material-icons">event</i> {{'23/12/2012'}}</li>
        <li ><i class="material-icons">credit_card</i> {{'Suppliers'}}</li>
        <li><i class="material-icons">work</i> {{'Area'}}</li>
      </ul>
      <div >
        {{'Company'}}
      </div>

    </div>
  </div>
  <div class="col-md-6" >
    <div class="job-card">

      <div class="shortListView">
        <p>ShortListed</p>
      </div>
      <h2><a class="btn-link" >{{'Sale Templets'}}</a></h2>
      <h3></h3>
      <p>{{'Smart Aid'}}, {{'Chakwal'}}</p>
      <ul>
        <li><i class="material-icons">event</i> {{'23/12/2012'}}</li>
        <li ><i class="material-icons">credit_card</i> {{'Suppliers'}}</li>
        <li><i class="material-icons">work</i> {{'Area'}}</li>
      </ul>
      <div >
        {{'Company'}}
      </div>

    </div>
  </div>
</div>
