
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">File <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Purchase
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="#">Purchases</a>
          <a class="dropdown-item" href="#">Purchases Return</a>
          <a class="dropdown-item" href="#">Opening Purchases</a>
          <a class="dropdown-item" href="#">Purchases (Loose)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Purchases Orders</a>
        </div>
      </li><li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Transection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Basic Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Maintainance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Manage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Window</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Help</a>
      </li>
    </ul>
  </div>
</nav>
