<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0 font-size-18">Items Form</h4>
      <h4></h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a (click)="home()">Home</a></li>
          <li class="breadcrumb-item active">Items Form</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false">Detail</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">List</a>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="job-form job-form-b">
              <form class="needs-validation" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="code">Code</label>
                    <input type="text" formControlName="code" id="code" class="form-control" readonly
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.code.errors) || ((itemsAddsFormControl.code.dirty || itemsAddsFormControl.code.touched) && itemsAddsFormControl.code.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.code.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.code.dirty || itemsAddsFormControl.code.touched) && itemsAddsFormControl.code.errors?.pattern">
                        Please enter a valid Code
                      </div>
                      <div *ngIf="((itemsAddsFormControl.code.dirty || itemsAddsFormControl.code.touched) && itemsAddsFormControl.code.errors?.required && !itemsAddsFormControl.code.errors?.pattern && !submitted)">
                        Code no is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.code.errors?.required && !itemsAddsFormControl.code.errors?.pattern)">
                        Code No is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="allasName">Alias</label>
                    <input type="text" formControlName="allasName" id="allasName" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.allasName.errors) || ((itemsAddsFormControl.allasName.dirty || itemsAddsFormControl.allasName.touched) && itemsAddsFormControl.allasName.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.allasName.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.allasName.dirty || itemsAddsFormControl.allasName.touched) && itemsAddsFormControl.allasName.errors?.pattern">
                        Please enter a valid Allas
                      </div>
                      <div *ngIf="((itemsAddsFormControl.allasName.dirty || itemsAddsFormControl.allasName.touched) && itemsAddsFormControl.allasName.errors?.required && !itemsAddsFormControl.allasName.errors?.pattern && !submitted)">
                        Allas  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.allasName.errors?.required && !itemsAddsFormControl.allasName.errors?.pattern)">
                        Allas is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="itemName"> Item Name</label>
                    <input type="text" formControlName="itemName" id="itemName" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.itemName.errors) || ((itemsAddsFormControl.itemName.dirty || itemsAddsFormControl.itemName.touched) && itemsAddsFormControl.itemName.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.itemName.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.itemName.dirty || itemsAddsFormControl.itemName.touched) && itemsAddsFormControl.itemName.errors?.pattern">
                        Please enter a valid Item Name
                      </div>
                      <div *ngIf="((itemsAddsFormControl.itemName.dirty || itemsAddsFormControl.itemName.touched) && itemsAddsFormControl.itemName.errors?.required && !itemsAddsFormControl.itemName.errors?.pattern && !submitted)">
                        Item Name No is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.itemName.errors?.required && !itemsAddsFormControl.itemName.errors?.pattern)">
                        Item Name No is required
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="pieceOfPacking">Piece Of Packing</label>
                    <input type="number" formControlName="pieceOfPacking" id="pieceOfPacking" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.pieceOfPacking.errors) || ((itemsAddsFormControl.pieceOfPacking.dirty || itemsAddsFormControl.pieceOfPacking.touched) && itemsAddsFormControl.pieceOfPacking.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.pieceOfPacking.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.pieceOfPacking.dirty || itemsAddsFormControl.pieceOfPacking.touched) && itemsAddsFormControl.pieceOfPacking.errors?.pattern">
                        Please enter a valid  Piece Of Packing
                      </div>
                      <div *ngIf="((itemsAddsFormControl.pieceOfPacking.dirty || itemsAddsFormControl.pieceOfPacking.touched) && itemsAddsFormControl.pieceOfPacking.errors?.required && !itemsAddsFormControl.pieceOfPacking.errors?.pattern && !submitted)">
                        Piece Of Packing  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.pieceOfPacking.errors?.required && !itemsAddsFormControl.pieceOfPacking.errors?.pattern)">
                        Piece Of Packing  is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="purchasePrice">Purchase Price</label>
                    <input type="number" formControlName="purchasePrice" id="purchasePrice" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.purchasePrice.errors) || ((itemsAddsFormControl.purchasePrice.dirty || itemsAddsFormControl.purchasePrice.touched) && itemsAddsFormControl.purchasePrice.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.purchasePrice.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.purchasePrice.dirty || itemsAddsFormControl.purchasePrice.touched) && itemsAddsFormControl.purchasePrice.errors?.pattern">
                        Please enter a valid purchasePrice
                      </div>
                      <div *ngIf="((itemsAddsFormControl.purchasePrice.dirty || itemsAddsFormControl.purchasePrice.touched) && itemsAddsFormControl.purchasePrice.errors?.required && !itemsAddsFormControl.purchasePrice.errors?.pattern && !submitted)">
                        Purchase Price  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.purchasePrice.errors?.required && !itemsAddsFormControl.purchasePrice.errors?.pattern)">
                        Purchase Price is required
                      </div>
                    </div>
                  </div>
                   <div class="form-group col-md-3">
                    <label for="salesPrice">Sales Price</label>
                    <input type="number" formControlName="salesPrice" id="salesPrice" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.salesPrice.errors) || ((itemsAddsFormControl.salesPrice.dirty || itemsAddsFormControl.salesPrice.touched) && itemsAddsFormControl.salesPrice.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.salesPrice.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.salesPrice.dirty || itemsAddsFormControl.salesPrice.touched) && itemsAddsFormControl.salesPrice.errors?.pattern">
                        Please enter a valid Sales Price
                      </div>
                      <div *ngIf="((itemsAddsFormControl.salesPrice.dirty || itemsAddsFormControl.salesPrice.touched) && itemsAddsFormControl.salesPrice.errors?.required && !itemsAddsFormControl.salesPrice.errors?.pattern && !submitted)">
                        Sales Price  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.salesPrice.errors?.required && !itemsAddsFormControl.salesPrice.errors?.pattern)">
                        Sales Price is required
                      </div>
                    </div>
                  </div>



                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="manufacture">Manufacture</label>
                    <input type="text" formControlName="manufacture" id="manufacture" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.manufacture.errors) || ((itemsAddsFormControl.manufacture.dirty || itemsAddsFormControl.manufacture.touched) && itemsAddsFormControl.manufacture.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.manufacture.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.manufacture.dirty || itemsAddsFormControl.manufacture.touched) && itemsAddsFormControl.manufacture.errors?.pattern">
                        Please enter a valid Manufacture
                      </div>
                      <div *ngIf="((itemsAddsFormControl.manufacture.dirty || itemsAddsFormControl.manufacture.touched) && itemsAddsFormControl.manufacture.errors?.required && !itemsAddsFormControl.manufacture.errors?.pattern && !submitted)">
                        Manufacture  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.manufacture.errors?.required && !itemsAddsFormControl.manufacture.errors?.pattern)">
                        Manufacture  is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="packing">Packing</label>
                    <input type="text" formControlName="packing" id="packing" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.packing.errors) || ((itemsAddsFormControl.packing.dirty || itemsAddsFormControl.packing.touched) && itemsAddsFormControl.packing.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.packing.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.packing.dirty || itemsAddsFormControl.packing.touched) && itemsAddsFormControl.packing.errors?.pattern">
                        Please enter a Packing
                      </div>
                      <div *ngIf="((itemsAddsFormControl.packing.dirty || itemsAddsFormControl.packing.touched) && itemsAddsFormControl.packing.errors?.required && !itemsAddsFormControl.packing.errors?.pattern && !submitted)">
                        Packing is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.packing.errors?.required && !itemsAddsFormControl.packing.errors?.pattern)">
                        Packing is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">

                    <label for="category">Category</label>
                    <p-autoComplete id="category" formControlName="category"
                                    [suggestions]="profileClassificationsResult"
                                    [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.category.errors) || ((itemsAddsFormControl.category.dirty
                                          || itemsAddsFormControl.category.touched) && itemsAddsFormControl.category.errors) }"
                                    (completeMethod)="searchClassifications($event)" [dropdown]="true">
                      <ng-template let-profileClassification pTemplate="item">
                        {{profileClassification }}
                      </ng-template>
                    </p-autoComplete>
                    <div *ngIf="itemsAddsFormControl.category.errors" class="invalid-feedback">
                      <div
                        *ngIf="((itemsAddsFormControl.category.dirty || itemsAddsFormControl.category.touched) && itemsAddsFormControl.category.errors?.required && !itemsAddsFormControl.category.errors?.pattern && !submitted)">
                        Category is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.category.errors?.required && !itemsAddsFormControl.category.errors?.pattern)">
                        Category is required
                      </div>
                    </div>

                  </div>
                  <div class="form-group col-md-6">
                    <label for="classDefault">Class</label>
                    <p-autoComplete id="classDefault" formControlName="classDefault"
                                    [suggestions]="profileClassificationsResult"
                                    [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.classDefault.errors) || ((itemsAddsFormControl.classDefault.dirty || itemsAddsFormControl.classDefault.touched) && itemsAddsFormControl.classDefault.errors) }"
                                    (completeMethod)="searchClassifications($event)" [dropdown]="true">
                      <ng-template let-profileClassification pTemplate="item">
                        {{profileClassification }}
                      </ng-template>
                    </p-autoComplete>
                    <div *ngIf="itemsAddsFormControl.classDefault.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.classDefault.dirty || itemsAddsFormControl.classDefault.touched) && itemsAddsFormControl.classDefault.errors?.pattern">
                        Please enter a valid class
                      </div>
                      <div *ngIf="((itemsAddsFormControl.classDefault.dirty || itemsAddsFormControl.classDefault.touched) && itemsAddsFormControl.classDefault.errors?.required && !itemsAddsFormControl.classDefault.errors?.pattern && !submitted)">
                        Class is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.classDefault.errors?.required && !itemsAddsFormControl.classDefault.errors?.pattern)">
                        Class  is required
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="printable">Printable</label>
                      <p-dropdown [options]="active" formControlName="printable" id="printable"
                                  optionLabel="name" [showClear]="true" (focusout)="dropDownView(itemsAddsFormControl.printable)"></p-dropdown>
                      <div *ngIf="itemsAddsFormControl.printable.errors" class="invalid-feedback">
                        <div
                          *ngIf="(itemsAddsFormControl.printable.dirty || itemsAddsFormControl.printable.touched) && itemsAddsFormControl.printable.errors?.pattern">
                          Please Fill the field
                        </div>
                        <div *ngIf="((itemsAddsFormControl.printable.dirty || itemsAddsFormControl.printable.touched) && itemsAddsFormControl.printable.errors?.required && !itemsAddsFormControl.printable.errors?.pattern && !submitted)">
                          Printable  is required
                        </div>
                        <div *ngIf="((submitted) && itemsAddsFormControl.printable.errors?.required && !itemsAddsFormControl.printable.errors?.pattern)">
                          Printable  is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="active">Active</label>
                      <p-dropdown [options]="active" formControlName="active" id="active" placeholder="select the option"
                                  optionLabel="name" [showClear]="true" (focusout)="dropDownView(itemsAddsFormControl.active)"></p-dropdown>
                      <div *ngIf="itemsAddsFormControl.active.errors" class="invalid-feedback">
                        <div
                          *ngIf="(itemsAddsFormControl.active.dirty || itemsAddsFormControl.active.touched) && itemsAddsFormControl.active.errors?.pattern">
                          Please Fill the field
                        </div>
                        <div *ngIf="((itemsAddsFormControl.active.dirty || itemsAddsFormControl.active.touched) && itemsAddsFormControl.active.errors?.required && !itemsAddsFormControl.active.errors?.pattern && !submitted)">
                          Active  is required
                        </div>
                        <div *ngIf="((submitted) && itemsAddsFormControl.active.errors?.required && !itemsAddsFormControl.active.errors?.pattern)">
                          Active  is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="location">Location </label>
                      <input type="text" formControlName="location" id="location" class="form-control"
                             [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.location.errors) || ((itemsAddsFormControl.location.dirty || itemsAddsFormControl.location.touched) && itemsAddsFormControl.location.errors) }"/>
                      <div *ngIf="itemsAddsFormControl.location.errors" class="invalid-feedback">
                        <div
                          *ngIf="(itemsAddsFormControl.location.dirty || itemsAddsFormControl.location.touched) && itemsAddsFormControl.location.errors?.pattern">
                          Please enter a valid location
                        </div>
                        <div *ngIf="((itemsAddsFormControl.location.dirty || itemsAddsFormControl.location.touched) && itemsAddsFormControl.location.errors?.required && !itemsAddsFormControl.location.errors?.pattern && !submitted)">
                          Location is required
                        </div>
                        <div *ngIf="((submitted) && itemsAddsFormControl.location.errors?.required && !itemsAddsFormControl.location.errors?.pattern)">
                          Location is required
                        </div>
                      </div>
                    </div>


                </div>

                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="saleDisc">Sale Discount(%)</label>
                    <input type="number" formControlName="saleDisc" id="saleDisc" class="form-control" [min]="0"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.saleDisc.errors) || ((itemsAddsFormControl.saleDisc.dirty || itemsAddsFormControl.saleDisc.touched) && itemsAddsFormControl.saleDisc.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.saleDisc.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.saleDisc.dirty || itemsAddsFormControl.saleDisc.touched) && itemsAddsFormControl.saleDisc.errors?.pattern">
                        Please enter a valid Sale Discount
                      </div>
                      <div *ngIf="((itemsAddsFormControl.saleDisc.dirty || itemsAddsFormControl.saleDisc.touched) && itemsAddsFormControl.saleDisc.errors?.required && !itemsAddsFormControl.saleDisc.errors?.pattern && !submitted)">
                        Sale Discount  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.saleDisc.errors?.required && !itemsAddsFormControl.saleDisc.errors?.pattern)">
                        Sale Discount is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="salesDiscount2">Sales Discount 2</label>
                    <input placeholder=" salesDiscount2" type="number" formControlName="salesDiscount2" id="salesDiscount2"
                           class="form-control" [min]="0"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.salesDiscount2.errors) || ((itemsAddsFormControl.salesDiscount2.dirty || itemsAddsFormControl.salesDiscount2.touched) && itemsAddsFormControl.salesDiscount2.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.salesDiscount2.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.salesDiscount2.dirty || itemsAddsFormControl.salesDiscount2.touched) && itemsAddsFormControl.salesDiscount2.errors?.pattern">
                        Please enter a
                        valid Sales Discount
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.salesDiscount2.dirty || itemsAddsFormControl.salesDiscount2.touched) && itemsAddsFormControl.salesDiscount2.errors?.required && !itemsAddsFormControl.salesDiscount2.errors?.pattern && !submitted)">
                        Sales Discount  is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.salesDiscount2.errors?.required && !itemsAddsFormControl.salesDiscount2.errors?.pattern)">
                        Sales Discount is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="salesDiscount3">Sales Discount 3</label>
                    <input placeholder=" salesDiscount3" type="number" formControlName="salesDiscount3" id="salesDiscount3"
                           class="form-control" [min]="0"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.salesDiscount3.errors) || ((itemsAddsFormControl.salesDiscount3.dirty || itemsAddsFormControl.salesDiscount3.touched) && itemsAddsFormControl.salesDiscount3.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.salesDiscount3.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.salesDiscount3.dirty || itemsAddsFormControl.salesDiscount3.touched) && itemsAddsFormControl.salesDiscount3.errors?.pattern">
                        Please enter a
                        valid Sales Discount
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.salesDiscount3.dirty || itemsAddsFormControl.salesDiscount3.touched) && itemsAddsFormControl.salesDiscount3.errors?.required && !itemsAddsFormControl.salesDiscount3.errors?.pattern && !submitted)">
                        Sales Discount  is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.salesDiscount3.errors?.required && !itemsAddsFormControl.salesDiscount3.errors?.pattern)">
                        Sales Discount is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="salesDiscount4">Sales Discount 4</label>
                    <input placeholder=" salesDiscount4" type="number" formControlName="salesDiscount4" id="salesDiscount4"
                           class="form-control" [min]="0"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.salesDiscount4.errors) || ((itemsAddsFormControl.salesDiscount4.dirty || itemsAddsFormControl.salesDiscount4.touched) && itemsAddsFormControl.salesDiscount4.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.salesDiscount4.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.salesDiscount4.dirty || itemsAddsFormControl.salesDiscount4.touched) && itemsAddsFormControl.salesDiscount4.errors?.pattern">
                        Please enter a
                        valid Sales Discount
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.salesDiscount4.dirty || itemsAddsFormControl.salesDiscount4.touched) && itemsAddsFormControl.salesDiscount4.errors?.required && !itemsAddsFormControl.salesDiscount4.errors?.pattern && !submitted)">
                        Sales Discount  is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.salesDiscount4.errors?.required && !itemsAddsFormControl.salesDiscount4.errors?.pattern)">
                        Sales Discount is
                        required
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="narcotics">Narcotics</label>
                    <p-dropdown [options]="active" formControlName="narcotics" id="narcotics" placeholder="select the option"
                                optionLabel="name" [showClear]="true" (focusout)="dropDownView(itemsAddsFormControl.narcotics)"></p-dropdown>
                    <div *ngIf="itemsAddsFormControl.narcotics.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.narcotics.dirty || itemsAddsFormControl.narcotics.touched) && itemsAddsFormControl.narcotics.errors?.pattern">
                        Please Fill the field
                      </div>
                      <div *ngIf="((itemsAddsFormControl.narcotics.dirty || itemsAddsFormControl.narcotics.touched) && itemsAddsFormControl.narcotics.errors?.required && !itemsAddsFormControl.narcotics.errors?.pattern && !submitted)">
                        Narcotics  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.narcotics.errors?.required && !itemsAddsFormControl.narcotics.errors?.pattern)">
                        Narcotics  is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="lockSalesPrice">Lock Sales Price</label>
                    <p-dropdown [options]="active" formControlName="lockSalesPrice" id="lockSalesPrice" placeholder="select the option"
                                optionLabel="name" [showClear]="true" (focusout)="dropDownView(itemsAddsFormControl.lockSalesPrice)"></p-dropdown>
                    <div *ngIf="itemsAddsFormControl.lockSalesPrice.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.lockSalesPrice.dirty || itemsAddsFormControl.lockSalesPrice.touched) && itemsAddsFormControl.lockSalesPrice.errors?.pattern">
                        Please Fill the field
                      </div>
                      <div *ngIf="((itemsAddsFormControl.lockSalesPrice.dirty || itemsAddsFormControl.lockSalesPrice.touched) && itemsAddsFormControl.lockSalesPrice.errors?.required && !itemsAddsFormControl.lockSalesPrice.errors?.pattern && !submitted)">
                        lockSalesPrice  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.lockSalesPrice.errors?.required && !itemsAddsFormControl.lockSalesPrice.errors?.pattern)">
                        lockSalesPrice  is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="lockDicountPerc">Lock Dicount Perc</label>
                    <p-dropdown [options]="active" formControlName="lockDicountPerc" id="lockDicountPerc" placeholder="select the option"
                                optionLabel="name" [showClear]="true" (focusout)="dropDownView(itemsAddsFormControl.lockDicountPerc)"></p-dropdown>
                    <div *ngIf="itemsAddsFormControl.lockDicountPerc.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.lockDicountPerc.dirty || itemsAddsFormControl.lockDicountPerc.touched) && itemsAddsFormControl.lockDicountPerc.errors?.pattern">
                        Please Fill the field
                      </div>
                      <div *ngIf="((itemsAddsFormControl.lockDicountPerc.dirty || itemsAddsFormControl.lockDicountPerc.touched) && itemsAddsFormControl.lockDicountPerc.errors?.required && !itemsAddsFormControl.lockDicountPerc.errors?.pattern && !submitted)">
                        Lock Dicount Perc  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.lockDicountPerc.errors?.required && !itemsAddsFormControl.lockDicountPerc.errors?.pattern)">
                        Lock Dicount Perc  is required
                      </div>
                    </div>
                  </div>
<!--                  <div class="form-group col-md-4">-->
<!--                    <label for="lockSalesPrice">Lock Sales Price</label>-->
<!--                    <input placeholder=" NO" type="text" formControlName="lockSalesPrice" id="lockSalesPrice"-->
<!--                           class="form-control"-->
<!--                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.lockSalesPrice.errors) || ((itemsAddsFormControl.lockSalesPrice.dirty || itemsAddsFormControl.lockSalesPrice.touched) && itemsAddsFormControl.lockSalesPrice.errors) }"/>-->
<!--                    <div *ngIf="itemsAddsFormControl.lockSalesPrice.errors" class="invalid-feedback">-->
<!--                      <div-->
<!--                        *ngIf="(itemsAddsFormControl.lockSalesPrice.dirty || itemsAddsFormControl.lockSalesPrice.touched) && itemsAddsFormControl.lockSalesPrice.errors?.pattern">-->
<!--                        Please enter a-->
<!--                        valid lock Sales Price-->
<!--                        address-->
<!--                      </div>-->
<!--                      <div-->
<!--                        *ngIf="((itemsAddsFormControl.lockSalesPrice.dirty || itemsAddsFormControl.lockSalesPrice.touched) && itemsAddsFormControl.lockSalesPrice.errors?.required && !itemsAddsFormControl.lockSalesPrice.errors?.pattern && !submitted)">-->
<!--                        lock Sales Price is required-->
<!--                      </div>-->
<!--                      <div-->
<!--                        *ngIf="((submitted) && itemsAddsFormControl.lockSalesPrice.errors?.required && !itemsAddsFormControl.lockSalesPrice.errors?.pattern)">-->
<!--                        lock Sales Price is-->
<!--                        required-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="form-group col-md-4">-->
<!--                    <label for="lockDicountPerc">lock Dicount Perc</label>-->
<!--                    <input placeholder=" NO" type="number" formControlName="lockDicountPerc" id="lockDicountPerc"-->
<!--                           class="form-control"-->
<!--                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.lockDicountPerc.errors) || ((itemsAddsFormControl.lockDicountPerc.dirty || itemsAddsFormControl.lockDicountPerc.touched) && itemsAddsFormControl.lockDicountPerc.errors) }"/>-->
<!--                    <div *ngIf="itemsAddsFormControl.lockDicountPerc.errors" class="invalid-feedback">-->
<!--                      <div-->
<!--                        *ngIf="(itemsAddsFormControl.lockDicountPerc.dirty || itemsAddsFormControl.lockDicountPerc.touched) && itemsAddsFormControl.lockDicountPerc.errors?.pattern">-->
<!--                        Please enter a-->
<!--                        valid lock Dicount Perc-->
<!--                      </div>-->
<!--                      <div-->
<!--                        *ngIf="((itemsAddsFormControl.lockDicountPerc.dirty || itemsAddsFormControl.lockDicountPerc.touched) && itemsAddsFormControl.lockDicountPerc.errors?.required && !itemsAddsFormControl.lockDicountPerc.errors?.pattern && !submitted)">-->
<!--                        Lock Dicount Perc is required-->
<!--                      </div>-->
<!--                      <div-->
<!--                        *ngIf="((submitted) && itemsAddsFormControl.lockDicountPerc.errors?.required && !itemsAddsFormControl.lockDicountPerc.errors?.pattern)">-->
<!--                        Lock Dicount Perc is-->
<!--                        required-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->

                </div>
                <div class="form-row">


                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="reOrderQTY">Re Order QTY</label>
                    <input placeholder="Re Order QTY" type="number" formControlName="reOrderQTY" id="reOrderQTY"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.reOrderQTY.errors) || ((itemsAddsFormControl.reOrderQTY.dirty || itemsAddsFormControl.reOrderQTY.touched) && itemsAddsFormControl.reOrderQTY.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.reOrderQTY.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.reOrderQTY.dirty || itemsAddsFormControl.reOrderQTY.touched) && itemsAddsFormControl.reOrderQTY.errors?.pattern">
                        Please enter a
                        valid Re Order QTY
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.reOrderQTY.dirty || itemsAddsFormControl.reOrderQTY.touched) && itemsAddsFormControl.reOrderQTY.errors?.required && !itemsAddsFormControl.reOrderQTY.errors?.pattern && !submitted)">
                        Re Order QTY is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.reOrderQTY.errors?.required && !itemsAddsFormControl.reOrderQTY.errors?.pattern)">
                        Re Order QTY is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="optimumQTY">Optimum QTY</label>
                    <input placeholder="Optimum QTY" type="number" formControlName="optimumQTY" id="optimumQTY"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.optimumQTY.errors) || ((itemsAddsFormControl.optimumQTY.dirty || itemsAddsFormControl.optimumQTY.touched) && itemsAddsFormControl.optimumQTY.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.optimumQTY.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.optimumQTY.dirty || itemsAddsFormControl.optimumQTY.touched) && itemsAddsFormControl.optimumQTY.errors?.pattern">
                        Please enter a
                        valid Optimum QTY
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.optimumQTY.dirty || itemsAddsFormControl.optimumQTY.touched) && itemsAddsFormControl.optimumQTY.errors?.required && !itemsAddsFormControl.optimumQTY.errors?.pattern && !submitted)">
                        Optimum QTY is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.optimumQTY.errors?.required && !itemsAddsFormControl.optimumQTY.errors?.pattern)">
                        Optimum QTY is
                        required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="saleDiscount">Sale Discount</label>
                    <input placeholder="Sales Discount" type="number" formControlName="saleDiscount" id="saleDiscount"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.saleDiscount.errors) || ((itemsAddsFormControl.saleDiscount.dirty || itemsAddsFormControl.saleDiscount.touched) && itemsAddsFormControl.saleDiscount.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.saleDiscount.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.saleDiscount.dirty || itemsAddsFormControl.saleDiscount.touched) && itemsAddsFormControl.saleDiscount.errors?.pattern">
                        Please enter a
                        valid Sale Discount
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.saleDiscount.dirty || itemsAddsFormControl.saleDiscount.touched) && itemsAddsFormControl.saleDiscount.errors?.required && !itemsAddsFormControl.saleDiscount.errors?.pattern && !submitted)">
                        Sale Discount is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.saleDiscount.errors?.required && !itemsAddsFormControl.saleDiscount.errors?.pattern)">
                        Sale Discount is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="minimumQty">Minimum QTY</label>
                    <input placeholder="Re Order QTY" type="number" formControlName="minimumQty" id="minimumQty"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.minimumQty.errors) || ((itemsAddsFormControl.minimumQty.dirty || itemsAddsFormControl.minimumQty.touched) && itemsAddsFormControl.minimumQty.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.minimumQty.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.minimumQty.dirty || itemsAddsFormControl.minimumQty.touched) && itemsAddsFormControl.minimumQty.errors?.pattern">
                        Please enter a
                        valid Minimum QTY
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.minimumQty.dirty || itemsAddsFormControl.minimumQty.touched) && itemsAddsFormControl.minimumQty.errors?.required && !itemsAddsFormControl.minimumQty.errors?.pattern && !submitted)">
                        Minimum QTY is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.minimumQty.errors?.required && !itemsAddsFormControl.minimumQty.errors?.pattern)">
                        Minimum QTY is
                        required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="avgPrice">Avg Price</label>
                    <input placeholder="Avg Price" type="text" formControlName="avgPrice" id="avgPrice"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.avgPrice.errors) || ((itemsAddsFormControl.avgPrice.dirty || itemsAddsFormControl.avgPrice.touched) && itemsAddsFormControl.avgPrice.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.avgPrice.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.avgPrice.dirty || itemsAddsFormControl.avgPrice.touched) && itemsAddsFormControl.avgPrice.errors?.pattern">
                        Please enter a
                        valid Avg Price
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.avgPrice.dirty || itemsAddsFormControl.avgPrice.touched) && itemsAddsFormControl.avgPrice.errors?.required && !itemsAddsFormControl.avgPrice.errors?.pattern && !submitted)">
                        Avg Price is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.avgPrice.errors?.required && !itemsAddsFormControl.avgPrice.errors?.pattern)">
                        Avg Price is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="itemAlert">Items Alert</label>
                    <p-dropdown [options]="active" formControlName="itemAlert" id="itemAlert" placeholder="select the option"
                                optionLabel="name" [showClear]="true" (focusout)="dropDownView(itemsAddsFormControl.itemAlert)"></p-dropdown>
                    <div *ngIf="itemsAddsFormControl.itemAlert.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.itemAlert.dirty || itemsAddsFormControl.itemAlert.touched) && itemsAddsFormControl.itemAlert.errors?.pattern">
                        Please Fill the field
                      </div>
                      <div *ngIf="((itemsAddsFormControl.itemAlert.dirty || itemsAddsFormControl.itemAlert.touched) && itemsAddsFormControl.itemAlert.errors?.required && !itemsAddsFormControl.itemAlert.errors?.pattern && !submitted)">
                        itemAlert  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.itemAlert.errors?.required && !itemsAddsFormControl.itemAlert.errors?.pattern)">
                        ItemAlert  is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="allowDue">Allow Due</label>
                    <input placeholder="Allow Due" type="text" formControlName="allowDue" id="allowDue"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': ((submitted) && itemsAddsFormControl.allowDue.errors) || ((itemsAddsFormControl.allowDue.dirty || itemsAddsFormControl.allowDue.touched) && itemsAddsFormControl.allowDue.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.allowDue.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.allowDue.dirty || itemsAddsFormControl.allowDue.touched) && itemsAddsFormControl.allowDue.errors?.pattern">
                        Please enter a
                        valid Allow Due
                      </div>
                      <div
                        *ngIf="((itemsAddsFormControl.allowDue.dirty || itemsAddsFormControl.allowDue.touched) && itemsAddsFormControl.allowDue.errors?.required && !itemsAddsFormControl.allowDue.errors?.pattern && !submitted)">
                        Allow Due is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.allowDue.errors?.required && !itemsAddsFormControl.allowDue.errors?.pattern)">
                        Allow Due is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="description">Description</label>
                    <textarea [rows]="5" [cols]="30" pInputTextarea  placeholder="Write Description"
                              formControlName="description" id="description" class="form-control">

                    </textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-12">
                    <button class="pages mr-2" type="submit">Save</button>
                  </div>
                </div>

              </form>
            </div>

          </div>

        </div>

      </div>
      <!--      second tab Start from here in all  supplier data -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="job-form job-form-b">

              <div class="table-responsive">
                <p-table #dataTableShortListCandidate [value]="jobList" [(selection)]="selectedCustomers" dataKey="id"
                         styleClass="p-datatable-sm"
                         [rowHover]="true"
                         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                         [paginator]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [filterDelay]="0"
                         [globalFilterFields]="['supplierCode','allasName','itemName','supplierCategory','city', 'address', 'phoneNumber']">
                  <ng-template pTemplate="caption">

                    <div class="table-header">
                      <div class="row">
                        <div class="col-6">
                        <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                       (input)="dataTableShortListCandidate.filterGlobal($event.target.value, 'contains')"
                                       placeholder="Global Search"/>
                            </span>
                        </div>
                      </div>
                    </div>

                  </ng-template>
                  <ng-template pTemplate="header">

                    <tr>

                      <th pSortableColumn="supplierCode">Code
                        <p-sortIcon field="supplierCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="allasName">Allas Name
                        <p-sortIcon field="allasName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="itemName">Item Name
                        <p-sortIcon field="itemName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="supplierCategory">Supplier Category
                        <p-sortIcon field="supplierCategory"></p-sortIcon>
                      </th>
                      <th pSortableColumn="city">City
                        <p-sortIcon field="city"></p-sortIcon>
                      </th>
                      <th pSortableColumn="address">Address
                        <p-sortIcon field="address"></p-sortIcon>
                      </th>
                      <th pSortableColumn="phoneNumber">Phone Number
                        <p-sortIcon field="phoneNumber"></p-sortIcon>
                      </th>
                      <th></th>
                    </tr>
                    <tr>

                      <td>
                        <input pInputText type="number"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'supplierCode', 'startsWith')"
                               placeholder="Search by Supplier Code" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'allasName', 'startsWith')"
                               placeholder="Search by Allas Name" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'itemName', 'contains')"
                               placeholder="Search by Supplier Name" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'supplierCategory', 'contains')"
                               placeholder="Search by Supplier Category" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'city', 'contains')"
                               placeholder="Search by City" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'address', 'contains')"
                               placeholder="Search by Address" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'phoneNumber', 'contains')"
                               placeholder="Search by Phone Number" class="p-column-filter">
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-customer>
                    <tr class="p-selectable-row">

                      <td > {{'1'}}  </td>
                      <!--                      <td *ngIf="customer.supplierCode === null">&#45;&#45;</td>-->
                      <td *ngIf="customer.candidateName !== null"> {{customer.candidateName}}  </td>
                      <td *ngIf="customer.candidateName === null">--</td>
                      <td *ngIf="customer.jobtitle !== null">{{customer.jobtitle}}</td>
                      <td *ngIf="customer.jobtitle === null">--</td>
                      <td *ngIf="customer.skills !== null">{{customer.skills}}</td>
                      <td *ngIf="customer.skills === null">--</td>
                      <td *ngIf="customer.city !== null">{{customer.city}}</td>
                      <td *ngIf="customer.city === null">--</td>
                      <td *ngIf="customer.totalExperience !== null">{{customer.totalExperience}}</td>
                      <td *ngIf="customer.totalExperience === null">--</td>
                      <td *ngIf="customer.phoneNumber !== null">{{customer.phoneNumber}}</td>
                      <td *ngIf="customer.phoneNumber === null">--</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">No candidates found.</td>
                    </tr>
                  </ng-template>
                </p-table>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
