<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0 font-size-18">Supplier Form</h4>
      <h4></h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a (click)="home()">Home</a></li>
          <li class="breadcrumb-item active">Supplier Form</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false">Detail</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">List</a>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="job-form job-form-b">
              <form class="needs-validation" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="code">Code</label>
                    <input type="text" formControlName="code" id="code" class="form-control" readonly
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.code.errors) || ((supplierFormControl.code.dirty || supplierFormControl.code.touched) && supplierFormControl.code.errors) }"/>
                    <div *ngIf="supplierFormControl.code.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.code.dirty || supplierFormControl.code.touched) && supplierFormControl.code.errors?.pattern">
                        Please enter a valid Code
                      </div>
                      <div *ngIf="((supplierFormControl.code.dirty || supplierFormControl.code.touched) && supplierFormControl.code.errors?.required && !supplierFormControl.code.errors?.pattern && !submitted)">
                        Code no is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.code.errors?.required && !supplierFormControl.code.errors?.pattern)">
                        Code No is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="supplierName">Supplier Name</label>
                    <input type="text" formControlName="supplierName" id="supplierName" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.supplierName.errors) || ((supplierFormControl.supplierName.dirty || supplierFormControl.supplierName.touched) && supplierFormControl.supplierName.errors) }"/>
                    <div *ngIf="supplierFormControl.supplierName.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.supplierName.dirty || supplierFormControl.supplierName.touched) && supplierFormControl.supplierName.errors?.pattern">
                        Please enter a valid Supplier Name
                      </div>
                      <div *ngIf="((supplierFormControl.supplierName.dirty || supplierFormControl.supplierName.touched) && supplierFormControl.supplierName.errors?.required && !supplierFormControl.supplierName.errors?.pattern && !submitted)">
                        Supplier Name No is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.supplierName.errors?.required && !supplierFormControl.supplierName.errors?.pattern)">
                        Supplier Name No is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="aliesName">Alies Name</label>
                    <input type="text" formControlName="aliesName" id="aliesName" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.aliesName.errors) || ((supplierFormControl.aliesName.dirty || supplierFormControl.aliesName.touched) && supplierFormControl.aliesName.errors) }"/>
                    <div *ngIf="supplierFormControl.aliesName.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.aliesName.dirty || supplierFormControl.aliesName.touched) && supplierFormControl.aliesName.errors?.pattern">
                        Please enter a valid Last Name
                      </div>
                      <div *ngIf="((supplierFormControl.aliesName.dirty || supplierFormControl.aliesName.touched) && supplierFormControl.aliesName.errors?.required && !supplierFormControl.aliesName.errors?.pattern && !submitted)">
                        Alies Name no is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.aliesName.errors?.required && !supplierFormControl.aliesName.errors?.pattern)">
                        Alies Name No is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="contactPerson">Contact Person</label>
                    <input type="text" formControlName="contactPerson" id="contactPerson" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.contactPerson.errors) || ((supplierFormControl.contactPerson.dirty || supplierFormControl.contactPerson.touched) && supplierFormControl.contactPerson.errors) }"/>
                    <div *ngIf="supplierFormControl.contactPerson.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.contactPerson.dirty || supplierFormControl.contactPerson.touched) && supplierFormControl.contactPerson.errors?.pattern">
                        Please enter a valid contactPerson
                      </div>
                      <div *ngIf="((supplierFormControl.contactPerson.dirty || supplierFormControl.contactPerson.touched) && supplierFormControl.contactPerson.errors?.required && !supplierFormControl.contactPerson.errors?.pattern && !submitted)">
                        contactPerson no is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.contactPerson.errors?.required && !supplierFormControl.contactPerson.errors?.pattern)">
                        contactPerson No is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="statusActive">Active</label>
                    <p-dropdown [options]="active" formControlName="statusActive" id="statusActive"
                                optionLabel="name" [showClear]="true"></p-dropdown>
                    <div *ngIf="supplierFormControl.statusActive.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.statusActive.dirty || supplierFormControl.statusActive.touched) && supplierFormControl.statusActive.errors?.pattern">
                        Please Fill the field
                      </div>
                      <div *ngIf="((supplierFormControl.statusActive.dirty || supplierFormControl.statusActive.touched) && supplierFormControl.statusActive.errors?.required && !supplierFormControl.statusActive.errors?.pattern && !submitted)">
                        Active  is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.statusActive.errors?.required && !supplierFormControl.statusActive.errors?.pattern)">
                        Active  is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="defaultGst">Default Gst %</label>
                    <input type="number" formControlName="defaultGst" id="defaultGst" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.defaultGst.errors) || ((supplierFormControl.defaultGst.dirty || supplierFormControl.defaultGst.touched) && supplierFormControl.defaultGst.errors) }"/>
                    <div *ngIf="supplierFormControl.defaultGst.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.defaultGst.dirty || supplierFormControl.defaultGst.touched) && supplierFormControl.defaultGst.errors?.pattern">
                        Please enter a valid defaultGst
                      </div>
                      <div *ngIf="((supplierFormControl.defaultGst.dirty || supplierFormControl.defaultGst.touched) && supplierFormControl.defaultGst.errors?.required && !supplierFormControl.defaultGst.errors?.pattern && !submitted)">
                        DefaultGst no is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.defaultGst.errors?.required && !supplierFormControl.defaultGst.errors?.pattern)">
                        DefaultGst No is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="address1">Temporary Address</label>
                    <input type="text" formControlName="address1" id="address1" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.address1.errors) || ((supplierFormControl.address1.dirty || supplierFormControl.address1.touched) && supplierFormControl.address1.errors) }"/>
                    <div *ngIf="supplierFormControl.address1.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.address1.dirty || supplierFormControl.address1.touched) && supplierFormControl.address1.errors?.pattern">
                        Please enter a valid Temporary Address
                      </div>
                      <div *ngIf="((supplierFormControl.address1.dirty || supplierFormControl.address1.touched) && supplierFormControl.address1.errors?.required && !supplierFormControl.address1.errors?.pattern && !submitted)">
                        Temporary Address is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.address1.errors?.required && !supplierFormControl.address1.errors?.pattern)">
                        Temporary Address is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="address2">Permanent Address</label>
                    <input type="text" formControlName="address2" id="address2" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.address2.errors) || ((supplierFormControl.address2.dirty || supplierFormControl.address2.touched) && supplierFormControl.address2.errors) }"/>
                    <div *ngIf="supplierFormControl.address2.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.address2.dirty || supplierFormControl.address2.touched) && supplierFormControl.address2.errors?.pattern">
                        Please enter a valid Permanent Address
                      </div>
                      <div *ngIf="((supplierFormControl.address2.dirty || supplierFormControl.address2.touched) && supplierFormControl.address2.errors?.required && !supplierFormControl.address2.errors?.pattern && !submitted)">
                        Permanent Address is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.address2.errors?.required && !supplierFormControl.address2.errors?.pattern)">
                        Permanent Address is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">

                    <label for="city">City</label>
                    <p-autoComplete id="city" formControlName="city"
                                    [suggestions]="profileClassificationsResult"
                                    [readonly]="true"
                                    [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.city.errors) || ((supplierFormControl.city.dirty
                                          || supplierFormControl.city.touched) && supplierFormControl.city.errors) }"
                                    (completeMethod)="searchClassifications($event)" [dropdown]="true">
                      <ng-template let-profileClassification pTemplate="item">
                        {{profileClassification }}
                      </ng-template>
                    </p-autoComplete>
                    <div *ngIf="supplierFormControl.city.errors" class="invalid-feedback">
                      <div
                        *ngIf="((supplierFormControl.city.dirty || supplierFormControl.city.touched) && supplierFormControl.city.errors?.required && !supplierFormControl.city.errors?.pattern && !submitted)">
                        City is required
                      </div>
                      <div
                        *ngIf="((submitted) && supplierFormControl.city.errors?.required && !supplierFormControl.city.errors?.pattern)">
                        City is required
                      </div>
                    </div>

                  </div>
                  <div class="form-group col-md-6">
                    <label for="manufactureCity">Manufacture City</label>
                    <p-autoComplete id="manufactureCity" formControlName="manufactureCity"
                                    [suggestions]="profileClassificationsResult"
                                    [readonly]="true"
                                    [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.city.errors) || ((supplierFormControl.city.dirty || supplierFormControl.city.touched) && supplierFormControl.city.errors) }"
                                    (completeMethod)="searchClassifications($event)" [dropdown]="true">
                      <ng-template let-profileClassification pTemplate="item">
                        {{profileClassification }}
                      </ng-template>
                    </p-autoComplete>
                    <div *ngIf="supplierFormControl.manufactureCity.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.manufactureCity.dirty || supplierFormControl.manufactureCity.touched) && supplierFormControl.manufactureCity.errors?.pattern">
                        Please enter a valid Manufacture City
                      </div>
                      <div *ngIf="((supplierFormControl.manufactureCity.dirty || supplierFormControl.manufactureCity.touched) && supplierFormControl.manufactureCity.errors?.required && !supplierFormControl.manufactureCity.errors?.pattern && !submitted)">
                        Manufacture City is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.manufactureCity.errors?.required && !supplierFormControl.manufactureCity.errors?.pattern)">
                        Manufacture City  is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="postCode">Post Code</label>
                    <input type="text" formControlName="postCode" id="postCode" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.postCode.errors) || ((supplierFormControl.postCode.dirty || supplierFormControl.postCode.touched) && supplierFormControl.postCode.errors) }"/>
                    <div *ngIf="supplierFormControl.postCode.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.postCode.dirty || supplierFormControl.postCode.touched) && supplierFormControl.postCode.errors?.pattern">
                        Please enter a valid PostCode
                      </div>
                      <div *ngIf="((supplierFormControl.postCode.dirty || supplierFormControl.postCode.touched) && supplierFormControl.postCode.errors?.required && !supplierFormControl.postCode.errors?.pattern && !submitted)">
                        Post Code  is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.postCode.errors?.required && !supplierFormControl.postCode.errors?.pattern)">
                        Post Code is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="country">Country </label>
                    <input type="text" formControlName="country" id="country" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.country.errors) || ((supplierFormControl.country.dirty || supplierFormControl.country.touched) && supplierFormControl.country.errors) }"/>
                    <div *ngIf="supplierFormControl.country.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.country.dirty || supplierFormControl.country.touched) && supplierFormControl.country.errors?.pattern">
                        Please enter a valid Country
                      </div>
                      <div *ngIf="((supplierFormControl.country.dirty || supplierFormControl.country.touched) && supplierFormControl.country.errors?.required && !supplierFormControl.country.errors?.pattern && !submitted)">
                        Country is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.country.errors?.required && !supplierFormControl.country.errors?.pattern)">
                        Country is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="phone1">Phone</label>
                    <p-inputMask mask="9999-9999999" formControlName="phone1" id="phone1" placeholder="9999-9999999"
                                 [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.phone1.errors) || ((supplierFormControl.phone1.dirty || supplierFormControl.phone1.touched) && supplierFormControl.phone1.errors) }"></p-inputMask>
                    <div *ngIf="supplierFormControl.phone1.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.phone1.dirty || supplierFormControl.phone1.touched) && supplierFormControl.phone1.errors?.pattern">
                        Please enter a valid Number
                      </div>
                      <div *ngIf="((supplierFormControl.phone1.dirty || supplierFormControl.phone1.touched) && supplierFormControl.phone1.errors?.required && !supplierFormControl.phone1.errors?.pattern && !submitted)">
                        Number is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.phone1.errors?.required && !supplierFormControl.phone1.errors?.pattern)">
                        Number is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phone2">Phone# 2</label>
                    <p-inputMask mask="9999-9999999" formControlName="phone2" id="phone2" placeholder="9999-9999999"
                                 [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.phone2.errors) || ((supplierFormControl.phone2.dirty || supplierFormControl.phone2.touched) && supplierFormControl.phone2.errors) }"></p-inputMask>
                    <div *ngIf="supplierFormControl.phone2.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.phone2.dirty || supplierFormControl.phone2.touched) && supplierFormControl.phone2.errors?.pattern">
                        Please enter a valid Number
                      </div>
                      <div *ngIf="((supplierFormControl.phone2.dirty || supplierFormControl.phone2.touched) && supplierFormControl.phone2.errors?.required && !supplierFormControl.phone2.errors?.pattern && !submitted)">
                        Number is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.phone2.errors?.required && !supplierFormControl.phone2.errors?.pattern)">
                        Number is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="mobile">Mobile #</label>
                    <p-inputMask mask="9999-9999999" formControlName="mobile" id="mobile" placeholder="9999-9999999"
                                 [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.mobile.errors) || ((supplierFormControl.mobile.dirty || supplierFormControl.mobile.touched) && supplierFormControl.mobile.errors) }"></p-inputMask>
                    <div *ngIf="supplierFormControl.mobile.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.mobile.dirty || supplierFormControl.mobile.touched) && supplierFormControl.mobile.errors?.pattern">
                        Please enter a valid Number
                      </div>
                      <div *ngIf="((supplierFormControl.mobile.dirty || supplierFormControl.mobile.touched) && supplierFormControl.mobile.errors?.required && !supplierFormControl.mobile.errors?.pattern && !submitted)">
                        Number is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.mobile.errors?.required && !supplierFormControl.mobile.errors?.pattern)">
                        Number is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fax">Fax</label>
                    <input placeholder=" Fax" type="number" formControlName="fax" id="fax"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': ((submitted) && supplierFormControl.fax.errors) || ((supplierFormControl.fax.dirty || supplierFormControl.fax.touched) && supplierFormControl.fax.errors) }"/>
                    <div *ngIf="supplierFormControl.fax.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.fax.dirty || supplierFormControl.fax.touched) && supplierFormControl.fax.errors?.pattern">
                        Please enter a
                        valid fax
                        address
                      </div>
                      <div
                        *ngIf="((supplierFormControl.fax.dirty || supplierFormControl.fax.touched) && supplierFormControl.fax.errors?.required && !supplierFormControl.fax.errors?.pattern && !submitted)">
                        fax is required
                      </div>
                      <div
                        *ngIf="((submitted) && supplierFormControl.fax.errors?.required && !supplierFormControl.fax.errors?.pattern)">
                        fax is
                        required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input placeholder=" Email" type="text" formControlName="email" id="email"
                           class="form-control" (focusout)="trimInputField(supplierFormControl.email)"
                           [ngClass]="{ 'is-invalid': ((submitted) && supplierFormControl.email.errors) || ((supplierFormControl.email.dirty || supplierFormControl.email.touched) && supplierFormControl.email.errors) }"/>
                    <div *ngIf="supplierFormControl.email.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.email.dirty || supplierFormControl.email.touched) && supplierFormControl.email.errors?.pattern">
                        Please enter a
                        valid email
                        address
                      </div>
                      <div
                        *ngIf="((supplierFormControl.email.dirty || supplierFormControl.email.touched) && supplierFormControl.email.errors?.required && !supplierFormControl.email.errors?.pattern && !submitted)">
                        Email is required
                      </div>
                      <div
                        *ngIf="((submitted) && supplierFormControl.email.errors?.required && !supplierFormControl.email.errors?.pattern)">
                        Email is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="email2">Email 2</label>
                    <input placeholder=" Email 2" type="text" formControlName="email2" id="email2"
                           class="form-control" (focusout)="trimInputField(supplierFormControl.email2)"
                           [ngClass]="{ 'is-invalid': ((submitted) && supplierFormControl.email2.errors) || ((supplierFormControl.email2.dirty || supplierFormControl.email2.touched) && supplierFormControl.email2.errors) }"/>
                    <div *ngIf="supplierFormControl.email2.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.email2.dirty || supplierFormControl.email2.touched) && supplierFormControl.email2.errors?.pattern">
                        Please enter a
                        valid email
                        address
                      </div>
                      <div
                        *ngIf="((supplierFormControl.email2.dirty || supplierFormControl.email2.touched) && supplierFormControl.email2.errors?.required && !supplierFormControl.email2.errors?.pattern && !submitted)">
                        Email is required
                      </div>
                      <div
                        *ngIf="((submitted) && supplierFormControl.email2.errors?.required && !supplierFormControl.email2.errors?.pattern)">
                        Email is
                        required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email3">Email 3</label>
                    <input placeholder=" Email" type="text" formControlName="email3" id="email3"
                           class="form-control" (focusout)="trimInputField(supplierFormControl.email3)"
                           [ngClass]="{ 'is-invalid': ((submitted) && supplierFormControl.email3.errors) || ((supplierFormControl.email3.dirty || supplierFormControl.email3.touched) && supplierFormControl.email3.errors) }"/>
                    <div *ngIf="supplierFormControl.email3.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.email3.dirty || supplierFormControl.email3.touched) && supplierFormControl.email3.errors?.pattern">
                        Please enter a
                        valid email
                        address
                      </div>
                      <div
                        *ngIf="((supplierFormControl.email3.dirty || supplierFormControl.email3.touched) && supplierFormControl.email3.errors?.required && !supplierFormControl.email3.errors?.pattern && !submitted)">
                        Email is required
                      </div>
                      <div
                        *ngIf="((submitted) && supplierFormControl.email3.errors?.required && !supplierFormControl.email3.errors?.pattern)">
                        Email is
                        required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="website">Web Site</label>
                    <input type="url" formControlName="website" id="website" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.website.errors) || ((supplierFormControl.website.dirty || supplierFormControl.website.touched) && supplierFormControl.website.errors) }"/>
                    <div *ngIf="supplierFormControl.website.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.website.dirty || supplierFormControl.website.touched) && supplierFormControl.website.errors?.pattern">
                        Please enter a valid web site Address
                      </div>
                      <div *ngIf="((supplierFormControl.website.dirty || supplierFormControl.website.touched) && supplierFormControl.website.errors?.required && !supplierFormControl.website.errors?.pattern && !submitted)">
                        Web site Address is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.website.errors?.required && !supplierFormControl.website.errors?.pattern)">
                        Web site Address is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="cnic">CNIC #</label>
                    <p-inputMask mask="99999-9999999-9" formControlName="cnic" id="cnic" placeholder="99999-9999999-9"
                                 [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.cnic.errors) || ((supplierFormControl.cnic.dirty || supplierFormControl.cnic.touched) && supplierFormControl.cnic.errors) }"></p-inputMask>
                    <div *ngIf="supplierFormControl.cnic.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.cnic.dirty || supplierFormControl.cnic.touched) && supplierFormControl.cnic.errors?.pattern">
                        Please enter a valid CNIC
                      </div>
                      <div *ngIf="((supplierFormControl.cnic.dirty || supplierFormControl.cnic.touched) && supplierFormControl.cnic.errors?.required && !supplierFormControl.cnic.errors?.pattern && !submitted)">
                        CNIC is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.cnic.errors?.required && !supplierFormControl.cnic.errors?.pattern)">
                        CNIC is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="bankAccount">Bank A/C</label>
                    <input type="text" formControlName="bankAccount" id="bankAccount" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.bankAccount.errors) || ((supplierFormControl.bankAccount.dirty || supplierFormControl.bankAccount.touched) && supplierFormControl.bankAccount.errors) }"/>
                    <div *ngIf="supplierFormControl.bankAccount.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.bankAccount.dirty || supplierFormControl.bankAccount.touched) && supplierFormControl.bankAccount.errors?.pattern">
                        Please enter a valid Bank Account number
                      </div>
                      <div *ngIf="((supplierFormControl.bankAccount.dirty || supplierFormControl.bankAccount.touched) && supplierFormControl.bankAccount.errors?.required && !supplierFormControl.bankAccount.errors?.pattern && !submitted)">
                        Bank Account number is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.bankAccount.errors?.required && !supplierFormControl.bankAccount.errors?.pattern)">
                        Bank Account number is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="category">Category</label>
                    <input type="text" formControlName="category" id="category" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.category.errors) || ((supplierFormControl.category.dirty || supplierFormControl.category.touched) && supplierFormControl.category.errors) }"/>
                    <div *ngIf="supplierFormControl.category.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.category.dirty || supplierFormControl.category.touched) && supplierFormControl.category.errors?.pattern">
                        Please enter a valid Category
                      </div>
                      <div *ngIf="((supplierFormControl.category.dirty || supplierFormControl.category.touched) && supplierFormControl.category.errors?.required && !supplierFormControl.category.errors?.pattern && !submitted)">
                        Category is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.category.errors?.required && !supplierFormControl.category.errors?.pattern)">
                        Category is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="wH">W/H (%)</label>
                    <input type="number" formControlName="wH" id="wH" class="form-control" placeholder="0.00"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.wH.errors) || ((supplierFormControl.wH.dirty || supplierFormControl.wH.touched) && supplierFormControl.wH.errors) }"/>
                    <div *ngIf="supplierFormControl.wH.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.wH.dirty || supplierFormControl.wH.touched) && supplierFormControl.wH.errors?.pattern">
                        Please enter a valid W/H
                      </div>
                      <div *ngIf="((supplierFormControl.wH.dirty || supplierFormControl.wH.touched) && supplierFormControl.wH.errors?.required && !supplierFormControl.wH.errors?.pattern && !submitted)">
                        W/H  is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.wH.errors?.required && !supplierFormControl.wH.errors?.pattern)">
                        W/H is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="ntn"> NTN #</label>
                    <input type="number" formControlName="ntn" id="ntn" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.ntn.errors) || ((supplierFormControl.ntn.dirty || supplierFormControl.ntn.touched) && supplierFormControl.ntn.errors) }"/>
                    <div *ngIf="supplierFormControl.ntn.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.ntn.dirty || supplierFormControl.ntn.touched) && supplierFormControl.ntn.errors?.pattern">
                        Please enter a valid  NTN
                      </div>
                      <div *ngIf="((supplierFormControl.ntn.dirty || supplierFormControl.ntn.touched) && supplierFormControl.ntn.errors?.required && !supplierFormControl.ntn.errors?.pattern && !submitted)">
                         NTN is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.ntn.errors?.required && !supplierFormControl.ntn.errors?.pattern)">
                         NTN is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="taxReg">Tax Reg NO</label>
                    <input type="number" formControlName="taxReg" id="taxReg" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.taxReg.errors) || ((supplierFormControl.taxReg.dirty || supplierFormControl.taxReg.touched) && supplierFormControl.taxReg.errors) }"/>
                    <div *ngIf="supplierFormControl.taxReg.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl. taxReg.dirty || supplierFormControl. taxReg.touched) && supplierFormControl. taxReg.errors?.pattern">
                        Please enter a valid Tax Reg NO
                      </div>
                      <div *ngIf="((supplierFormControl.taxReg.dirty || supplierFormControl.taxReg.touched) && supplierFormControl.taxReg.errors?.required && !supplierFormControl.taxReg.errors?.pattern && !submitted)">
                        Tax Reg NO is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.taxReg.errors?.required && !supplierFormControl.taxReg.errors?.pattern)">
                        Tax Reg NO is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="ntn"> Days Limit </label>
                    <input type="number" formControlName="dayLimit" id="dayLimit" class="form-control" placeholder="GENERAL"
                           [ngClass]="{ 'is-invalid': (submitted && supplierFormControl.dayLimit.errors) || ((supplierFormControl.dayLimit.dirty || supplierFormControl.dayLimit.touched) && supplierFormControl.dayLimit.errors) }"/>
                    <div *ngIf="supplierFormControl.dayLimit.errors" class="invalid-feedback">
                      <div
                        *ngIf="(supplierFormControl.dayLimit.dirty || supplierFormControl.dayLimit.touched) && supplierFormControl.dayLimit.errors?.pattern">
                        Please enter a valid Days Limit
                      </div>
                      <div *ngIf="((supplierFormControl.dayLimit.dirty || supplierFormControl.dayLimit.touched) && supplierFormControl.dayLimit.errors?.required && !supplierFormControl.dayLimit.errors?.pattern && !submitted)">
                      Days Limit is required
                      </div>
                      <div *ngIf="((submitted) && supplierFormControl.dayLimit.errors?.required && !supplierFormControl.dayLimit.errors?.pattern)">
                        Days Limit is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="introduction">Instructions</label>
                    <textarea [rows]="5" [cols]="30" pInputTextarea  placeholder="Enter Instructions"
                              formControlName="introduction" id="introduction" class="form-control">

                    </textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-12">
                    <button class="pages mr-2" type="submit">Save</button>
                  </div>
                </div>

              </form>
            </div>

          </div>

        </div>

      </div>
<!--      second tab Start from here in all  supplier data -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="job-form job-form-b">

              <div class="table-responsive">
                <p-table #dataTableShortListCandidate [value]="jobList" [(selection)]="selectedCustomers" dataKey="id"
                         styleClass="p-datatable-sm"
                         [rowHover]="true"
                         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                         [paginator]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [filterDelay]="0"
                         [globalFilterFields]="['supplierCode','allasName','supplierName','supplierCategory','city', 'address', 'phoneNumber']">
                  <ng-template pTemplate="caption">

                    <div class="table-header">
                      <div class="row">
                        <div class="col-6">
                        <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                       (input)="dataTableShortListCandidate.filterGlobal($event.target.value, 'contains')"
                                       placeholder="Global Search"/>
                            </span>
                        </div>
                      </div>
                    </div>

                  </ng-template>
                  <ng-template pTemplate="header">

                    <tr>

                      <th pSortableColumn="supplierCode">Code
                        <p-sortIcon field="supplierCode"></p-sortIcon>
                      </th>
                      <th pSortableColumn="allasName">Allas Name
                        <p-sortIcon field="allasName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="supplierName">Supplier Name
                        <p-sortIcon field="supplierName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="supplierCategory">Supplier Category
                        <p-sortIcon field="supplierCategory"></p-sortIcon>
                      </th>
                      <th pSortableColumn="city">City
                        <p-sortIcon field="city"></p-sortIcon>
                      </th>
                      <th pSortableColumn="address">Address
                        <p-sortIcon field="address"></p-sortIcon>
                      </th>
                      <th pSortableColumn="phoneNumber">Phone Number
                        <p-sortIcon field="phoneNumber"></p-sortIcon>
                      </th>
                      <th></th>
                    </tr>
                    <tr>

                      <td>
                        <input pInputText type="number"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'supplierCode', 'startsWith')"
                               placeholder="Search by Supplier Code" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'allasName', 'startsWith')"
                               placeholder="Search by Allas Name" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'supplierName', 'contains')"
                               placeholder="Search by Supplier Name" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'supplierCategory', 'contains')"
                               placeholder="Search by Supplier Category" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'city', 'contains')"
                               placeholder="Search by City" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'address', 'contains')"
                               placeholder="Search by Address" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'phoneNumber', 'contains')"
                               placeholder="Search by Phone Number" class="p-column-filter">
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-customer>
                    <tr class="p-selectable-row">

                      <td > {{'1'}}  </td>
<!--                      <td *ngIf="customer.supplierCode === null">&#45;&#45;</td>-->
                      <td *ngIf="customer.candidateName !== null"> {{customer.candidateName}}  </td>
                      <td *ngIf="customer.candidateName === null">--</td>
                      <td *ngIf="customer.jobtitle !== null">{{customer.jobtitle}}</td>
                      <td *ngIf="customer.jobtitle === null">--</td>
                      <td *ngIf="customer.skills !== null">{{customer.skills}}</td>
                      <td *ngIf="customer.skills === null">--</td>
                      <td *ngIf="customer.city !== null">{{customer.city}}</td>
                      <td *ngIf="customer.city === null">--</td>
                      <td *ngIf="customer.totalExperience !== null">{{customer.totalExperience}}</td>
                      <td *ngIf="customer.totalExperience === null">--</td>
                      <td *ngIf="customer.phoneNumber !== null">{{customer.phoneNumber}}</td>
                      <td *ngIf="customer.phoneNumber === null">--</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">No candidates found.</td>
                    </tr>
                  </ng-template>
                </p-table>

              </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>
          </div>
        </div>
