<div class="row tab-content">
<div class="table-responsive-lg">
  <p-table #dataTableShortListCandidate [value]="purchaseList" [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
           dataKey="name"
           [paginator]="true" [rows]="20"
           [lazy]="true" [lazyLoadOnInit]="false"
           styleClass="p-datatable-customers p-datatable-gridlines app-table">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem"></th>
        <th> Alias Name</th>
        <th> Id</th>
        <th> Purchase Date</th>
        <th> Supplier Invoice Number </th>
        <th> Grand Total </th>
        <th> Purchased </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="rowData"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td *ngIf="rowData.purchased === true"><a >{{rowData?.aliasName || "--"}}</a> </td>
        <td *ngIf="rowData.purchased === false"><a  (click)="updatePurchase(rowData.id)">{{rowData?.aliasName || "--"}}</a> </td>
        <td>{{rowData?.id || "--"}}</td>

        <td>{{rowData?.purchaseDate  | date:'dd/MMM/yyyy' || "--"}}</td>
        <td>{{rowData?.supplierInvoiceNumber  }}</td>
        <td>{{rowData?.grandTotal  }}</td>
        <td>{{rowData?.purchased  }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="5">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
              <div class="panel panel-default">
                <p class="msg-dashBoard"> No Record Found </p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
      <tr>
        <td colspan="5">
          <div class="p-p-3">
            <p-table [value]="product?.purchaseTables" dataKey="id"
                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
              <ng-template pTemplate="header">
      <tr>
        <th> Alias Name Table</th>
        <th> Quantity</th>
        <th> Net Price</th>
        <th> Expiry Date</th>
        <th> Total Excluding Discount</th>
        <th> RetailPrice</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset let-columns="columns">
      <tr>
        <td>{{asset?.aliasNameTable || "--"}}</td>
        <td>{{asset?.quantity || "--"}}</td>
        <td>{{asset?.netPrice || "--"}}</td>
        <td>{{asset?.expiryDate | date:'dd/MMM/yyyy' || "--"}}</td>
        <td>{{asset?.totalExcludingDiscount || "--"}}</td>
        <td>{{asset?.retailPrice || "--"}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="3">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
              <div class="panel panel-default">
                <p class="msg-dashBoard"> No Assets Found </p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>

</div>
</div>
