<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0 font-size-18">Items Form</h4>
      <h4></h4>
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a (click)="home()">Home</a></li>
          <li class="breadcrumb-item active">Items Form</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false">Detail</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">List</a>
      </li>

    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="job-form job-form-b" (click)="hotclick()">
              <form class="needs-validation" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="code">Code</label>
                    <input type="text" formControlName="code" id="code" class="form-control" readonly
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.code.errors) || ((itemsAddsFormControl.code.dirty || itemsAddsFormControl.code.touched) && itemsAddsFormControl.code.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.code.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.code.dirty || itemsAddsFormControl.code.touched) && itemsAddsFormControl.code.errors?.pattern">
                        Please enter a valid Code
                      </div>
                      <div *ngIf="((itemsAddsFormControl.code.dirty || itemsAddsFormControl.code.touched) && itemsAddsFormControl.code.errors?.required && !itemsAddsFormControl.code.errors?.pattern && !submitted)">
                        Code no is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.code.errors?.required && !itemsAddsFormControl.code.errors?.pattern)">
                        Code No is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">

                    <label for="name"> Name</label>
                    <p-autoComplete id="name" formControlName="name"
                                    [suggestions]="itemCategoryLookupResult"

                                    [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.name.errors) || ((itemsAddsFormControl.name.dirty
                                          || itemsAddsFormControl.name.touched) && itemsAddsFormControl.name.errors) }"
                                    (completeMethod)="searchClassifications($event)" [dropdown]="true">
                      <ng-template let-itemCategoriess pTemplate="item">
                        {{itemCategoriess }}
                      </ng-template>
                    </p-autoComplete>
                    <div *ngIf="itemsAddsFormControl.name.errors" class="invalid-feedback">
                      <div
                        *ngIf="((itemsAddsFormControl.name.dirty || itemsAddsFormControl.name.touched) && itemsAddsFormControl.name.errors?.required && !itemsAddsFormControl.name.errors?.pattern && !submitted)">
                        Item Name is required
                      </div>
                      <div
                        *ngIf="((submitted) && itemsAddsFormControl.name.errors?.required && !itemsAddsFormControl.name.errors?.pattern)">
                        Item Name is required
                      </div>
                    </div>

                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="numericalFactor">Numerical Factor </label>
                    <input type="number" formControlName="numericalFactor" id="numericalFactor" class="form-control" [min]="0"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.numericalFactor.errors) || ((itemsAddsFormControl.numericalFactor.dirty || itemsAddsFormControl.numericalFactor.touched) && itemsAddsFormControl.numericalFactor.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.numericalFactor.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.numericalFactor.dirty || itemsAddsFormControl.numericalFactor.touched) && itemsAddsFormControl.numericalFactor.errors?.pattern">
                        Please enter a valid  Numerical Factor
                      </div>
                      <div *ngIf="((itemsAddsFormControl.numericalFactor.dirty || itemsAddsFormControl.numericalFactor.touched) && itemsAddsFormControl.numericalFactor.errors?.required && !itemsAddsFormControl.numericalFactor.errors?.pattern && !submitted)">
                        Numerical Factor  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.numericalFactor.errors?.required && !itemsAddsFormControl.numericalFactor.errors?.pattern)">
                        Numerical Factor  is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="expiryDayLimit">Expiry Day Limit</label>
                    <input type="number" formControlName="expiryDayLimit" id="expiryDayLimit" class="form-control" [min]="0"
                           [ngClass]="{ 'is-invalid': (submitted && itemsAddsFormControl.expiryDayLimit.errors) || ((itemsAddsFormControl.expiryDayLimit.dirty || itemsAddsFormControl.expiryDayLimit.touched) && itemsAddsFormControl.expiryDayLimit.errors) }"/>
                    <div *ngIf="itemsAddsFormControl.expiryDayLimit.errors" class="invalid-feedback">
                      <div
                        *ngIf="(itemsAddsFormControl.expiryDayLimit.dirty || itemsAddsFormControl.expiryDayLimit.touched) && itemsAddsFormControl.expiryDayLimit.errors?.pattern">
                        Please enter a valid Expiry Day Limit
                      </div>
                      <div *ngIf="((itemsAddsFormControl.expiryDayLimit.dirty || itemsAddsFormControl.expiryDayLimit.touched) && itemsAddsFormControl.expiryDayLimit.errors?.required && !itemsAddsFormControl.expiryDayLimit.errors?.pattern && !submitted)">
                        Expiry Day Limit  is required
                      </div>
                      <div *ngIf="((submitted) && itemsAddsFormControl.expiryDayLimit.errors?.required && !itemsAddsFormControl.expiryDayLimit.errors?.pattern)">
                        Expiry Day Limit is required
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="col-lg-12">
                    <button class="pages mr-2" type="submit">Save</button>
                  </div>
                </div>

              </form>

            </div>

          </div>

        </div>

      </div>
      <!--      second tab Start from here in all  supplier data -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="job-form job-form-b">

              <div class="table-responsive">
                <p-table #dataTableShortListCandidate [value]="itemCategoryList" [(selection)]="selectedCustomers" dataKey="id"
                         styleClass="p-datatable-sm"
                         [rowHover]="true"
                         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                         [paginator]="true"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [filterDelay]="0"
                         [globalFilterFields]="['id','name','expiry',]">
                  <ng-template pTemplate="caption">

                    <div class="table-header">
                      <div class="row">
                        <div class="col-6">
                        <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                       (input)="dataTableShortListCandidate.filterGlobal($event.target.value, 'contains')"
                                       placeholder="Global Search"/>
                            </span>
                        </div>
                      </div>
                    </div>

                  </ng-template>
                  <ng-template pTemplate="header">

                    <tr>

                      <th pSortableColumn="id">Id
                        <p-sortIcon field="id"></p-sortIcon>
                      </th>
                      <th pSortableColumn="name"> Name
                        <p-sortIcon field="name"></p-sortIcon>
                      </th>
                      <th pSortableColumn="expiry">Expiry
                        <p-sortIcon field="expiry"></p-sortIcon>
                      </th>
                      <th></th>
                    </tr>
                    <tr>

                      <td>
                        <input pInputText type="number"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'id', 'startsWith')"
                               placeholder="Search by Id" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'name', 'startsWith')"
                               placeholder="Search by Name" class="p-column-filter">
                      </td>
                      <td>
                        <input pInputText type="text"
                               (input)="dataTableShortListCandidate.filter($event.target.value, 'expiry', 'contains')"
                               placeholder="Search by Expiry" class="p-column-filter">
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-customer>
                    <tr class="p-selectable-row">
                      <!--                      <td *ngIf="customer.supplierCode === null">&#45;&#45;</td>-->
                      <td *ngIf="customer.id !== null"> {{customer.id}}  </td>
                      <td *ngIf="customer.id === null">--</td>
                      <td *ngIf="customer.name !== null">{{customer.name}}</td>
                      <td *ngIf="customer.name === null">--</td>
                      <td *ngIf="customer.expiry !== null">{{customer.expiry}}</td>
                      <td *ngIf="customer.expiry === null">--</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">No candidates found.</td>
                    </tr>
                  </ng-template>
                </p-table>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
