<section >
  <div class="user-info-new">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
               class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="km-logo">
            <a href="#"><img src="../../../assets/images/clientLogo.jpeg" alt="Smart Aid" width="110"></a>

          </div>
          <div class="user-info-wrapper">
            <div class="user-info-layout-content">
              <h1>Sign in</h1>
              <form class="needs-validation" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

                <div class="form-row">
                  <div class="col-md-12 mb-3">
                    <input placeholder="Email" type="text" formControlName="userEmail" id="validationCustom01" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && forgetFormControl.userEmail.errors }"/>
                    <div *ngIf="forgetFormControl.userEmail.errors" class="invalid-feedback">
                      <div *ngIf="(forgetFormControl.userEmail.dirty || forgetFormControl.userEmail.touched) && forgetFormControl.userEmail.errors?.pattern">Please enter a
                        valid email address
                      </div>
                      <div
                        *ngIf="((forgetFormControl.userEmail.dirty || forgetFormControl.userEmail.touched) && forgetFormControl.userEmail.errors?.required && !forgetFormControl.userEmail.errors?.pattern && !submitted)">
                        Email is required
                      </div>
                      <div *ngIf="((submitted) && forgetFormControl.userEmail.errors?.required && !forgetFormControl.userEmail.errors?.pattern)">Email is
                        required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="login-btn-row">
                  <button type="submit" class="login-but">Send Request
                  </button>
                  <a routerLink="/login" class="login-link">Cancel</a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="user-info-footer">Copyright © {{footerYear}}. All rights reserved</div>
    <!-- Copyright -->
  </div>
</section>

